@model MVC.Models.Northwind
@{
    ViewBag.Title = "Añadir";
}

<h2>Añadir Productos</h2>

<form method="post" action="/NorthWindMVC/Crear">

    <div class="form-horizontal">
        <h4>Ingresar Productos</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(m => m.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ProductName, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.TextBoxFor(m => m.CategoryName, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CategoryName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UnitPrice, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UnitPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.UnitsInStock, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UnitsInStock, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UnitsInStock, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.TextBoxFor(m => m.CompanyName, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Country, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Country, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.TextBoxFor(m => m.PostalCode, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Address, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Address, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Phone, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Phone, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
            </div>
        </div>


        <button type="submit" class="btn btn-success">Guardar</button>
    </div>

</form>


